Zenelejátszó app/.vs
Zenelejátszó app/Zenelejatszo.App/obj
Zenelejátszó app/Zenelejatszo.Core/obj
Zenelejátszó app/Zenelejatszo.Services/obj
MusicApp/.vs
MusicApp/MusicApp/bin
MusicApp/MusicApp/obj
MusicApp/MusicApp.Core/bin
MusicApp/MusicApp.Core/obj
MusicApp/MusicApp.Services/bin
MusicApp/MusicApp.Services/obj
MusicApp/MusicApp.Database/bin
MusicApp/MusicApp.Database/obj
